body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

#section-1 {
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

p {
    text-align: justify;
    margin-bottom: 30px;
}

span {
    color: orange;
}

img {
    height: 500px;
    width: 500px;
}

#section-2 {
    display: flex;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 80px;
}

#section-3 {
    display: flex;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}

#box-1 {
    border-radius: 0px 20px 20px 0px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}

#box-2 {
    border-radius: 0px 20px 20px 0px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.half-width {
    padding-left: 60px;
    padding-right: 60px;
}

.box-shadow {
    height: 380px;
    width: 750px;
    padding-left: 60px;
    padding-right: 50px;
    margin-left: 60px;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: white;
}

#button {
    height: 50px;
    width: 50px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;

}


#exp {
    text-align: center;
    margin-bottom: 60px;
}

footer {
    text-align: center;
    color: gray;
}